/* # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : static/appmain/css/basics.css
# Author : Morice
# --------------------------------------------------------------------------- */


:root {

    /* VERSION 2 COULEURS*/ 
    /* Variables globales pour les couleurs vertes */
    --navbar-and-dot: rgba(226,114,91,0.9);
    /* texte dans bulles et category card selected, button hover */
    --brick-color: rgb(152, 48, 63);
    --cat-card-selected: rgb(152, 48, 63);
    --primary-btn-hover: rgb(121, 39, 50);
    --register-frames-bg: rgba(240, 255, 255,0.7);
    --black-color: rgb(36, 32, 32);
    --red-texas: rgb(190, 0, 33);
    --white-texas: rgb(255, 255, 255);
    
    /* VERSION 3 COULEURS*/ 
    --caroussel-service-bg:  rgba(226,114,91,0.9);
    --navbar-black:  rgba(36, 32, 32,0.9);

  }

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    color: var(--white-texas);
    font-family: 'Roboto', sans-serif;
}

/* h1,h2 {
  font-family: 'Cinzel', serif;
} */
