/* # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : static/appmain/css/basics.css
# Author : Morice
# --------------------------------------------------------------------------- */


:root {

    /* VERSION 2 COULEURS*/ 
    /* Variables globales pour les couleurs vertes */
    --navbar-and-dot: rgba(226,114,91);
    /* texte dans bulles et category card selected, button hover */
    --brick-color: rgb(152, 48, 63);
    --cat-card-selected: rgb(152, 48, 63);
    --primary-btn-hover: rgb(121, 39, 50);
    --black-color: rgb(36, 32, 32);
    --red-texas: rgb(190, 0, 33);
    --white-texas: rgb(255, 255, 255);
    --white-texas-trans: rgba(255, 255, 255,0.8);
    
    /* VERSION 3 COULEURS*/ 
    --form-input-border: #ccc;
    --form-input-bg: #f9f9f9;
    --alert-main:  rgba(226,114,91,0.2);
    --navbar-black:  rgba(36, 32, 32,0.95);

  }

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--white-texas);
    font-family: "Barlow Condensed", serif;
    font-weight: 400;
    font-style: normal;  
}

p {
  line-height: 1.3;
}

h1,h2,h3,h4 {
  font-family: "Barlow Condensed", serif;
  font-weight: 700;
  font-style: normal;  
}

/* MARGIN AND PADDING GENERALS*/
.m-0 {
  margin: 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.no-mt {
  margin-top: 0;
}

.mt-1 {
  margin-top:  1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-6 {
  margin-top: 6rem ;
}

.mb-1 {
  margin-bottom: 1rem;
}

.pl-4 {
  padding-left: 4rem;
}

.w-20 {
  width: 20%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.h-40vh {
  height: 40vh;
}

.fs-2 {
  font-size: 2rem;
}

.c-white {
  color: var(--white-texas);
}

.c-black {
  color: var(--black-color);
}

.c-coral {
  color: var(--navbar-and-dot);
}

.bold {
  font-weight: bold;
}

.c-red{
  color: red;
}

.c-green{
  color: green;
}

.flex-center{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.align-center {
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
}

h2{
  font-size:3.5rem;
  color: var(--black-color);
}

h3 {
  font-size: 2rem;
}

ul {
  padding-inline-start: 15px;
}