/* # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : static/appmain/css/who_are_we.css
# Author : Morice
# --------------------------------------------------------------------------- */



/* form buttons */
.btn-primary, .btn-secondary {
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-primary {
    background-color: var(--brick-color);
    color: white;
}

.btn-primary:hover {
    background-color: var(--primary-btn-hover);
}

.btn-secondary {
    background-color: var(--black-color);
    color: white;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.btn-no-appearance {
    border: none;
    background: none;
    color: var(--black-color);
    text-decoration: underline;
    cursor: pointer;
}

.btn-no-appearance:hover {
    color: var(--brick-color);
    font-style: italic;
}