/* # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : static/appmain/css/checkout.css
# Author : Morice
# --------------------------------------------------------------------------- */


@import url('basics.css');
@import url('button.css');


.modal {
    width: 40vw;

    background: linear-gradient(rgb(152, 48, 63),rgb(152, 48, 63),rgb(255, 255, 255),rgb(255, 255, 255));
    margin: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);

    border-radius: 8px;    
    color: var(--black-color);
}

.scrollable {
    margin: auto;
    padding: 2rem;
    width: 87%;
    min-height: 45vh;
    overflow-y: auto;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;   
}

.terms-bg-image {
    position: relative;
    height: 25vh;
    width: 100%;
    background-image: url(../../images/austin_colorado.jpg);
    background-repeat: no-repeat;
    background-position: center 55%;
    background-size: cover;
    margin-bottom: 2rem;
}

.icon-round {
    position: absolute;
    top: 95%;
    left: 50%;
    height: 5rem;
    width: 5rem;
    transform: translate(-55%, -50%);
    border-radius: 50%;
    background-color: var(--brick-color);
    display: flex;
    align-items: center; 
    justify-content: center;
}

.invoice-icon {
    width: 3rem;
    height: 3rem;
    background-image: url(../../images/icons/invoice_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

h2 {
    color: var(--white-texas);
}
.hr {
    background-color: var(--white-texas);
    height: 1px; 
    border: none; 
}
.my-0 {
    margin: 0.3rem 0rem;
}

.align-center {
    text-align: center;
}

/* form buttons */
.btn-position {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.cgv-checkbox {
    margin-left: 2rem;
}

/* CHECKOUT SUCCESS TABLE */
.invoice-container, .error-container {
    margin: auto;
    width: 90%;
    height: 50%;
    padding: 2rem;
    background-color: var(--white-texas);
    overflow-y: auto;
    margin-bottom: 20px;
    border-radius: 5px;   
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: rgba(36, 32, 32,0.9);
    color: white;
}

td {
    background-color: var(--white-texas);
}

.total-row, .total-row td {
    font-weight: bold;
    background-color: rgba(36, 32, 32,0.9);
    color: white;
}

.footer {
    height: 4vh;
    width: 99.9%;
    margin-top: 1.5rem;
    padding-top: 2px;
    background: rgb(152, 48, 63);
    border: 1px solid #333;
    border-top: none;
}

.footer p {
    color: var(--white-texas);
    text-align: center;
}