/* # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : static/appmain/css/footer.css
# Author : Morice
# --------------------------------------------------------------------------- */


/* FOOTER STYLE */
footer {
    width: 100%;
    height: 25rem;
    background-color: var(--black-color);
}

.social-box {
    padding-top: 1rem;
    height: 3.125;
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    border-bottom: 1px solid var(--white-texas);
}

.info-box {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.info-box li {
    list-style: none;;
}

.right-reserved-box {
    width: 100%;
    height: auto;
    border-top: 1px solid var(--white-texas);
}

.right-reserved-box p, .right-reserved-box a {
    text-align: center;
}
