/* # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : static/appmain/css/navbar.css
# Author : Morice
# --------------------------------------------------------------------------- */


/* NAVBAR CSS */
.navbar {
    width: 100%;
    height: 13rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    z-index: 100;
    align-items: center; 
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: 0.4s ease-in-out;
    background-color: transparent;
}

#texas-star-base {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 13rem;
    transition:  0.3s ease-in-out;
}

.burger-and-title-box {
    display: flex;
}

.nav-box {
    display: flex;
    justify-content: space-around;
    width: 60%;
    height: 100%;
    transition:  0.2s ease-in-out;
}

.title-box {
    display: flex;
    width: 50%;
    height: 100%;
}

.title {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 3rem;
    font-weight: 600;
    color: var(--white-texas);
    transition:  0.3s ease-in-out;
}

.title p {
    margin: 0;
    line-height: 2.5rem;
}

.title span {
    font-size: 5rem;
    margin: 0;
    color: var(--white-texas);
    text-shadow: 
    2px 2px 0px var(--red-texas),
    -2px -2px 0px var(--red-texas),
    -2px 2px 0px var(--red-texas),
    2px -2px 0px var(--red-texas);
    transition:  0.3s ease-in-out;
}

.nav-links {
    margin: 0;
    padding-inline-start: 3rem;
    width: 100%;
    display: flex;
    align-items: end;
    gap: 3rem;
    list-style-type: none;
}

.title-box ul li {
    margin-bottom: 2rem;
    text-decoration: underline;
    font-style: italic;
}

a {
    text-decoration: none;
    color: var(--white-texas);
}

#register, #service {
    font-size: 2rem;
    font-weight: 600;
    border-radius: 1rem;
    padding: 1px 7px;
    transition:  0.2s ease-in-out;
}

#register:hover, #service:hover,.contact-link:hover {
    background: var(--white-texas);
    color: var(--brick-color);
    border-color: var(--white-texas);
}

/* */
.flag-box {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0 0.8rem;
}

.flag-img {
    width: 2rem;
}

.flag-img-us {
    width: 2.3rem;
} 

.contact-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.contact-container {
    display: flex;
    border-radius: 25px;
    background-color: rgba(0,0,0,0.1);
}

.contact-link {
    border: 1px solid var(--brick-color);
    background: var(--white-texas-trans);
    border-radius: 2rem;
    padding: 1rem 1rem;
}

.contact-link a {
    color: var(--brick-color);
    font-weight: 500;
}

.contact-link.small:hover {
    background-color: var(--white-texas);
    color: var(--brick-color);
    font-weight: bold;
}
.contact-link.small:hover a {
    color: var(--brick-color) !important;
    font-weight: bold;
}