/* # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : static/appmain/css/privacy.css
# Author : Morice
# --------------------------------------------------------------------------- */


.privacy_policy {
    padding: 8rem;
    color: var(--black-color);
    font-size: 1.5rem;
}
