/* # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : static/appmain/css/register.css
# Author : Morice
# --------------------------------------------------------------------------- */



/* REGISTER PAGE STYLE*/
.register-form {
    width: 80%;
    margin: 2rem auto;
    color: var(--black-color);
    height: auto;
}

.reset-form-box {
    display: flex;
    justify-content: end;
    margin-bottom: 1rem;
}

.form-header-bg {
    width: 100%;
    background-color: var(--brick-color);
    border-bottom: 1px solid var(--black-color);
}

.form-footer-bg {
    width: 100%;
    background-color: var(--black-color);
}

.form-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 3rem auto 0rem auto;
    height: 15vh;
    background-image: url('../../images/austin_buildings_large.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-header h2 {
    background-color: rgba(0,0,0,0.1);
    color: var(--white-texas);
}

.form-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    height: 15vh;
    background-image: url('../../images/austin_buildings_large.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

/* step1 texas_trip css */
.texas-trip-form-container {
    width: 100%;
    margin: auto;
    margin-top: 5rem;
    color: var(--black-color);
}

.texas-trip-card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.texas-trip-card {
    height: 40vh;
    width: 20%;
    border: 1px solid var(--black-color);
    border-radius: 5px;
    margin: 0 0.5rem;
    padding: 0.5rem;
    color: var(--brick-color);
}

.package-card {
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.package-card-title {
    height: 30%;
    margin-top: 1rem;
    border-bottom: 1px solid var(--black-color);
}

.package-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.package-card input:checked {
    border-color: #007bff;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.4);
}


/* step2 identity css */
.customer-details {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

/* step3 identity css */
.trip-details-container {
    display: flex;
    justify-content: space-around;
}

.trip-details1, .trip-details2 {
    width: 40%;
    margin: auto;
}

.trip-details-date-container {
    display: flex;
    justify-content: space-between;
}

/* step4 interests css */
#category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    margin-bottom: 4rem;
}

.category-card {
    border: 3px solid var(--form-input-border);
    background-color: var(--form-input-bg);
    border-radius: 0.6rem;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    text-align: center;
}

.category-card:hover {
    border-color:var(--brick-color);
}

.category-card.selected {
    background-color: var(--cat-card-selected);
    color: var(--white-texas);
    border-color: var(--brick-color);
}

.discount-code {
    background: var(--form-input-bg);
    font-size: 1.6rem; 
    border: 1px solid var(--form-input-border);
    border-radius: 5px;
    margin-left: 1rem;
    padding: 0.5rem; 
    color: var(--brick-color); 
}

.discount-code:focus {
    border-color: var(--brick-color);
    outline: none;
    box-shadow: 0 0 5px rgba(152, 48, 63,0.5);
}

.hidden {
    display: none;
}

/* commun part */
/* forms inputs */
.inputBox{
  position: relative;
  height: 5rem;
}

.inputBox input{
  width: 100%;
  font-size: 1.56rem;
  color: var(--black-color);
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--form-input-border);
  border-radius: 2px;
  margin-bottom: 1.875rem;
}

.inputBox strong{
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  font-size: 1.56rem;
  color: var(--brick-color);
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.inputBox input:focus~strong,
.inputBox input:valid~strong{
  top:-1.875rem;
  left: 0;
  font-style: italic;
  font-weight: 200;
}

.label-text {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--brick-color);
}

select[name="country"] {
    height: 3rem; 
    width: 10rem;
    background: var(--form-input-bg);
    font-size: 1.6rem; 
    border: 1px solid var(--form-input-border);
    border-radius: 5px;
    padding: 0.5rem; 
    color: var(--brick-color); 
}

select[name="country"]:focus {
    border-color: var(--brick-color);
    outline: none;
    box-shadow: 0 0 5px rgba(152, 48, 63,0.5);
}


input[type="date"],
.custom-placeholder,
.custom-integer_input {
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
  font-size: 1.3rem;
  border: 1px solid var(--form-input-border);
  border-radius: 5px;
  background-color: var(--form-input-bg);
  cursor: pointer;
}

input[type="date"]:focus,
.custom-integer_input:focus,
.custom-placeholder:focus {
  border-color: var(--brick-color);
  outline: none;
  box-shadow: 0 0 5px rgba(152, 48, 63,0.5);
}

.custom-placeholder::placeholder {
    color: var(--brick-color); 
    font-style: italic; 
    opacity: 0.8; 
}

.custom-integer_input:focus, .custom-placeholder:focus {
    border-color: var(--brick-color);
    outline: none;
    box-shadow: 0 0 6px rgba(152, 48, 63,0.5);
}

/* REGISTER SUCCESS */

.congrates {
    text-align: center;
    margin: 1rem 0 0.5rem 0;
    font-size: 2.5rem;
    color: var(--brick-color);
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* MESSAGES ALERTS */
.alert {
    font-size: 1.3rem;
    color: var(--black-color);
    width: 80%;
    margin: auto;
    padding: 0.7rem 0.5rem;
    border-radius: 1rem;
}

.alert-info, .alert-success {
    background: var(--alert-main);
    border: 1px solid var(--navbar-and-dot);
}


.alert-error {
    background: rgba(190, 0, 33 0.2);
    border: 1px solid var(--red-texas);
}

.alert-info::before {
    content: "💡 ";  
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.alert-success::before {
    content: "👍 ";  
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.alert-error::before {
    content: "⚠️ "; 
    font-size: 1.2rem;
    margin-right: 0.5rem;
}


/** messages fadde out **/
.hide {
    opacity: 0;
    transition: opacity 3s ease-out;
}
