/* # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : static/appmain/css/responsive.css
# Author : Morice
# --------------------------------------------------------------------------- */


/* RESPONSIVE */

html {
    font-size: 16px; /* default */
}

/* NAVBAR */

/* Styles pour le bouton burger */
.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 3.3rem;
    min-width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
    margin-top: 12%;
}

.burger-menu span {
    display: block;
    width: 100%;
    height: 0.25rem;
    background-color: var(--white-texas);
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}


@media (max-width: 1300px) {
    html {
        font-size: 12px; 
    }

    .first-banner {
        width: 100%;
        height: clamp(30vh, 10vw + 30vh, 70vh);
    }

}


@media (max-width: 1100px) {
    /* REGISTER PAGE */
    .register-instructions {
        width: 60%;
        border-bottom: 1px solid var(--black-color);
    }

    #texas-star-base {
        width: 10rem;
    }
}

@media (max-width: 900px) {

    /* NAVBAR RESPONSIVE */
    .landing-banner{
        height: 50vh;
    }

    .burger-menu {
        display: flex;
        margin-top: 8%;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        justify-content: end;
        top: 100%;
        left: 0;
        width: 40%;
        background-color: var(--navbar-black);
        padding: 2rem;
    }
    
    .active {
        display: flex;
    }
    
    .navbar-container  {
        justify-content: space-between;
    }
    
    .title {
        font-size: 1.6rem;
        transition:  0.3s ease-in-out;
    }

    .title p {
        margin: 0;
        line-height: 1.45rem;
    }

    .title span {
        font-size: 2.7rem;
        transition:  0.3s ease-in-out;
    }
    
    /* NAVBAR FIXED RESPONSIVE  */
    .nav-register-box-fixed,
    .nav-who-box-fixed {
        margin: 10px 0;
        width: 80%;
    }
    
    .navbar-container  {
        justify-content: space-between;
    }

    .title-fixed {
        margin-top: 15px;
        font-size: 1.6rem;
        transition:  0.3s ease-in-out;
    }

    .title-fixed p {
        margin: 0;
        line-height: 1.45rem;
    }

    .title-fixed span {
        font-size: 2.2rem;
        transition:  0.3s ease-in-out;
    }
    
    /* INDEX PAGE */
    /* Responsive Design */

    .demo-banner {
        grid-template-columns: 1fr; 
    }

    .mobile-step-p {
        font-size: 3rem;
    }

    .round-banner {
        width: 13rem;
        height: 13rem;
        font-size: 1.2rem;
    }

    .veil p {
        font-size: 1.7rem;
    }

    .card-title {
        font-size: 2rem;
    }

    .card-content {
        font-size: 1.3rem;
    }
    
    /* /SERVICE */
    .column:hover {
        flex: 4; 
    }

    .column:not(:hover) {
        flex: 1; 
    }

    /* REGISTER PAGE */
    .btn-no-appearance{
        font-size: 1.5rem;
    }

    .texas-trip-card-container {
        flex-direction: column;
        gap: 20px;

    }

    .texas-trip-card {
        width: 80%;
        margin: auto;
        height: 20vh;
    }

    .texas-trip-card p {
        font-size: 1.5rem;
    }

    .package-card-title {
        height: 22%;
        margin-top: 1rem;
    }
    
}

@media (max-width: 750px) {

    html {
        font-size: 10px; /* encore plus petit pour mobiles */
    }

    /* INDEX RESPONSIVE */
    .round-banner {
        border-radius: 0;
        border: none;
        background: transparent;
        width: 95%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2rem;
        font-weight: bold;
    }

    .service-app-img .veil {
        height: 95%;
    }

    .veil h3 {
        font-size: 2.5rem;
    }

    .veil p {
        font-size: 1.8rem;
    }

    .service-box {
        flex-direction: column;
    }

    .service-app-column {
        width: 100%;
        height: 85vh;
        background-size: cover;
        background-position: center;
    }
    .service-custom-column {
        width: 100%;

    }
    .service_guide {
        width: 100%;
        background-size: cover;
        background-position: center;
    } 

}


@media (max-width: 480px) {
    html {
        font-size: 8px; /* encore plus petit pour mobiles */
    }

    /* INDEX ROUND BANNER */
    .landing-banner{
        height: 30vh;
    }

    .first-banner {
        padding-top: 4rem;
        height: 30vh;
    }
    .veil h3 {
        font-size: 2.8rem;
    }

    .veil p {
        font-size: 2.4rem;
    }

    .card-content {
        font-size: 1.8rem;
    }

    /* WHO ARE WE PAGE */
    .round-who-banner {
        width: 80%;
        max-width: 90%;
        top: 80%;
        left: 8%;
    }

    /* /REGISTER */
    .btn-no-appearance{
        font-size: 2rem;
    }

        /* Step */
    .texas-trip-card {
        height: 15vh;
    }

    .texas-trip-card p {
    font-size: 2rem;
    }

    .package-card-title {
        height: 22%;
        margin-top: 1rem;
    }
    
        /* Step2 */
    .customer-details {
        flex-direction: column;
    }

    /* /SERVICE */
    .column:hover {
        flex: 10; 
    }

    .column:not(:hover) {
        flex: 1; 
    }
}