/* # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : static/appmain/css/service.css
# Author : Morice
# --------------------------------------------------------------------------- */


.service-banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../../images/bayou_large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 2px solid var(--black-color);
}

.service-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black-color); /* Voile noir */
    opacity: 0.05; 
    z-index: 1;
}

.service-banner h2 {
    position: absolute;
    width: 80%;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    color: var(--white-texas);
    font-size: clamp(3.5rem, 2.5vw, 3rem);
    margin: 0;
}

.round-service-banner {
    position: absolute;
    bottom: -8%;
    right: 10%;
    width: 15.625rem;
    height: 15.625rem;
    font-size: 1.4rem;
    background: var(--navbar-and-dot);
    border-radius: 50%;
    border: 1px solid var(--black-color);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    z-index: 2;
    padding: 0.5rem 2.5rem; 
    overflow: hidden; 
}

.round-service-banner p{
    z-index: 3;
}

.service-container {
    margin-top: 4rem;
    display: flex;
    width: 100%;
    height: 95vh;
    background-color: var(--white-texas);
    box-shadow: 0 0rem 3rem rgba(0, 0, 0, 0.175);
}

.column {
    flex: 1;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: flex 0.3s ease-in-out;
    cursor: pointer;
    border-left: 1px solid var(--black-color);
}

.column::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
}

#service1::before {
    background-image: url('../../images/cotton_bowl.jpg'); 
}

#service2::before {
    background-image: url('../../images/peer.jpg');
}

#service3::before {
    background-image: url('../../images/rockport_beach.jpg');
}

.column:hover::before {
    opacity: 1;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    top: 0%;
    left: 0%;
    background: rgba(0, 0, 0, 0); 
    padding: 1rem;
    transition: 0.3s ease-in-out;
}

.see-more {
    display: flex;
    justify-content: center;
}

.see-more p {
    background-color: var(--brick-color);
    border: 2px solid var(--brick-color);
    border-radius: 3px;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.service-desc {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.service-desc li {
    list-style: square;
}

.column:hover {
    flex: 3; 
}

.column:hover .content {
    background: rgba(0, 0, 0, 0.5); 
    color: rgba(255,255,255);
}

.column:not(:hover) {
    flex: 1; 
}

.column:hover .see-more {
    display: none;
}

.column:hover .service-desc {
    font-size: 1.5rem;
    opacity: 1;
}

.service-desc {
    width: 70%;
    margin: auto;
    list-style: square;
    font-size: 0.5rem;
    transition: 0.3s ease-in-out;
}

.service-price {
    text-align: center;
    font-size: 5rem;
}

.service-price2 {
    text-align: center;
    font-size: 3rem;
}

.table-price td,
 .table-price th{
    padding: 1rem;
}

.table-price td {
    font-size: 1.5rem;
}

.text-mask-service {
    margin-top: 4rem;
    font-size: 8rem; 
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    background: url(../../images/caddo_lake_cabin_narrow.jpg) center/cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Firefox */
    background-clip: text;
    color: transparent; 
  }