/* # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : static/appmain/css/service.css
# Author : Morice
# --------------------------------------------------------------------------- */


.service-banner {
    position: relative;
    width: 100%;
    height: 90vh;
    background-image: url(../../images/bayou_large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.service-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black-color); /* Voile noir */
    opacity: 0.2; 
    z-index: 1;
}

.service-banner h2 {
    position: absolute;
    width: 80%;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    color: var(--white-texas);
    font-size: clamp(3.5rem, 2.5vw, 3rem);
    margin: 0;
}

.round-service-banner {
    position: absolute;
    top: 70%;
    right: 10%;
    width: 15.625rem;
    height: 15.625rem;
    font-size: 1.4rem;
    background: var(--navbar-and-dot);
    border-radius: 50%;border: 1px solid var(--black-color);
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    z-index: 2;
    padding: 10px; 
    opacity: 0.95;
    overflow: hidden; 
}

.round-service-banner p{
    z-index: 3;
}


.service-container-frame {
    margin-top: 4rem;
    padding: 0.6rem 0;
    border: 1px solid var(--black-color);
    background-color: var(--caroussel-service-bg);
}

.service-container {
    display: flex;
    width: 100%;
    height: 95vh;
    background-color: var(--white-texas);
}

.column {
    flex: 1;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: flex 0.3s ease-in-out;
    cursor: pointer;
    border-left: 1px solid var(--black-color);
}

.column:hover {
    flex: 3; 
}

.column:not(:hover) {
    flex: 1; 
}

.column::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}

#service1::before {
    background-image: url('../../images/cotton_bowl.jpg'); 
}

#service2::before {
    background-image: url('../../images/peer.jpg');
}

#service3::before {
    background-image: url('../../images/rockport_beach.jpg');
}

.column:hover::before {
    opacity: 1;
}

.content {
    position: absolute;
    z-index: 2;
    color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 10px;
}
