/* # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : static/appmain/css/style.css
# Author : Morice
# --------------------------------------------------------------------------- */

/* COMMUN CSS */
:root {
    /* Variables globales pour les couleurs */
    --blue-texas: rgb(0, 33, 165);
    --white-texas: rgb(255, 255, 255);
    --red-texas: rgb(190, 0, 33);
    --black-color: rgb(36, 32, 32);
    --green-color: rgb(55, 89, 48);
  }

body{
    margin: 0;
    color: var(--white-texas);
}

/* MARGIN AND PADDING */
.no-mt {
    margin-top: 0;
}

.my-40 {
    margin: 40px 0px;
}

.w-20 {
    width: 20%;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.flex-center{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.flex-center-g0{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.flex-around {
    display: flex;
    justify-content: space-around;
}

.text-center {
    text-align: center;
}

h2{
    font-size:30px;
    margin: 30px 0px;
}

/* NAVBAR CSS */
.navbar {
    width: 100%;
    background: transparent;
    height: 300px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    z-index: 100;
    align-items: center; 
}

.nav-box {
    width: 60%;
    height: 100%;
    transition:  0.2s ease-in-out;
}

.navbar {
    overflow: hidden;
}

.title-box {
    width: 20%;
    height: 100%;
}

.title {
    margin-top: 18%;
    margin-left: 10px;
    font-size: 50px;
    font-weight: 600;
    color: var(--white-texas);
    transition:  0.3s ease-in-out;
}

.title p {
    margin: 0;
    margin-bottom: 1%;
}

.title span {
    font-size: 71px;
    margin: 0;
    color: var(--white-texas);
    text-shadow: 
    2px 2px 0px var(--red-texas),
    -2px -2px 0px var(--red-texas),
    -2px 2px 0px var(--red-texas),
    2px -2px 0px var(--red-texas);
    transition:  0.3s ease-in-out;
}

.nav-register-box, .nav-who-box {
   margin-top: 15%;
   transition:  0.3s ease-in-out;
}

a {
    text-decoration: none;
    color: var(--white-texas);
}

#register {
    float: left;
    font-size: 18px;
    font-weight: 600;
    border: 3px solid var(--white-texas);
    border-radius: 10px;
    padding: 5px 10px;
    transition:  0.4s ease-in-out;
}

#who {
    float: right;
    font-size: 18px;
    font-weight: 600;
    border: 3px solid var(--white-texas);
    border-radius: 10px;
    padding: 5px 10px;
    transition:  0.4s ease-in-out;
}

.logo-image {
    width: 40%;
    height: auto;
    max-height: 300px;
    position: relative;
    right: 15px;
    background-image: url(../../images/logo_star.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: height 0.3s ease, opacity 0.3s ease;
    opacity: 1;
}

.contact-box {
    margin-top: 9%;
    width: 20%;
    height: 100%;
    color: var(--white-texas);
}

.contact-box  p {
    text-align: end;
    margin: 0px 10px;
    font-size: 30px;
    font-style: italic;
    text-decoration: underline;
}

.flag-div {
    width: 100%;
    display: flex;
}

.red-flag-div {
    width: 50%;
    
}

.white-flag-div {
    width: 50%;
    
}

/* NAVBAR NO ANIMATION  */
.navbar-fixed {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    z-index: 100;
    align-items: center; 
    background: linear-gradient(135deg, rgb(47, 80, 212), rgb(30, 33, 165), rgb(35, 72, 219));
}

#who-fixed {
    font-size: 12px;
    float: right;
    font-weight: 600;
    border: 3px solid var(--white-texas);
    border-radius: 10px;
    padding: 5px 10px;
}


#register-fixed {
    font-size: 12px;
    float: left;
    font-weight: 600;
    border: 3px solid var(--white-texas);
    border-radius: 10px;
    padding: 5px 10px;
}

.nav-register-box-fixed, .nav-who-box-fixed {
    margin-top: 40px;
}

.nav-box-fixed {
    width: 40%;
    height: 100%;
}

.title-fixed {
    margin-top: 15px;
    font-size: 25px;
    margin-left: 10px;
    font-weight: 600;
    color: var(--white-texas);
}

.title-fixed p {
    margin: 0;
    margin-bottom: 1%;
}

.title-fixed span {
    font-size: 35px;
    margin: 0;
    color: var(--white-texas);
    text-shadow: 
    2px 2px 0px var(--red-texas),
    -2px -2px 0px var(--red-texas),
    -2px 2px 0px var(--red-texas),
    2px -2px 0px var(--red-texas);
}

.title-box-fixed {
    width: 30%;
    height: 100%;
}

.contact-box-fixed {
    margin-top: 3%;
    width: 30%;
    height: 100%;
    color: var(--white-texas);
}

.contact-box-fixed p {
    font-size: 20px;
    text-align: end;
    margin: 0px 10px;
    font-style: italic;
    text-decoration: underline;
}

.white-flag-div-fixed {
    width: 50%;
    border: 2px solid var(--white-texas);
}
.red-flag-div-fixed {
    width: 50%;
    border: 2px solid var(--red-texas);
}

/* INDEX STYLE */

/* landing banner */
.landing-banner{
    width: 100%;
    padding-top: 20%;
    padding-bottom: 25%;
    background-image: url('../../images/longhorn_index.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.round-banner {
    position: absolute;
    top: 80%;
    left: 10%;
    width: 250px;
    height: 250px;
    font-size: 1.7rem;
    background: linear-gradient(135deg,rgb(80, 132, 70),rgb(55, 89, 48),rgb(67, 111, 58));
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    padding: 10px; 
    overflow: hidden; 
}

.round-banner p {
    padding: 0px 20px;
}

/* first banner */
.first-banner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: 60vh;
    margin-top: 10px;
}

.bdd-accroche {
    width: 30%;
    padding: 10%;
    font-size: 1.7rem;
    color: var(--black-color);
}

.bdd-activities-box {
    width: 25%;
    height: 100%;
}

/* caroussel bdd activities style*/
.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%;
    height: 100%; /* Ajusté selon le nombre d'images */
}

.carousel-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;

}

.carousel-caption {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    text-align: center;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 10;
}

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* FORM STYLE*/
.form-banner{
    width: 100%;
    padding-top: 30%;
    padding-bottom: 10%;
    background-image: url('../../images/austin_buildings_large.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form-blurry-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    backdrop-filter: blur(5px); /* blurry effect in the back */
    -webkit-backdrop-filter: blur(5px);
}
.frame{
    width: 800px;
    padding: 30px 0px;
    border-radius: 3px;
    z-index: 2;
    background-color: rgb(240, 255, 255,0.5);
}

form{
    min-width: 400px;
    margin: 60px 0px;
}

#category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.category-card {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    text-align: center;
}

.category-card:hover {
    border-color: #007bff;
}

.category-card.selected {
    background-color: var(--blue-texas);
    color: var(--white-texas);
    border-color: var(--blue-texas);
}

/* forms inputs */
.inputBox{
  position: relative;
  height: 80px;
}

.inputBox input{
  width: 100%;
  font-size: 25px;
  color: var(--black-color);
  background: transparent;
  border: none;
  border-bottom: 2px solid black;
  border-radius: 2px;
  margin-bottom: 30px;
}

.inputBox strong{
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  font-size: 25px;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.inputBox input:focus~strong,
.inputBox input:valid~strong{
  top:-30px;
  left: 0;
  font-style: italic;
  font-weight: 200;
}

.label-text {
    margin-top: 0;
    font-weight: 500;
    font-size: 25px;
}

/* form buttons */
.btn-primary, .btn-secondary {
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-primary {
    background-color: var(--blue-texas);
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.step2-buttons {
    margin: 30px 0px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
