/* # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : static/appmain/css/style.css
# Author : Morice
# --------------------------------------------------------------------------- */

/* COMMUN CSS */
:root {
    /* Variables globales pour les couleurs */
    --blue-texas: rgb(0, 33, 165);
    --white-texas: rgb(255, 255, 255);
    --red-texas: rgb(190, 0, 33);
    --black-color: rgb(0, 0, 0);
  
    /* Autres variables possibles */
    --primary-font: 'Arial, sans-serif';
    --secondary-font: 'Georgia, serif';
    --spacing: 16px;
  }

body{
    margin: 0;
}

/* MARGIN AND PADDING */
.no-mt {
    margin-top: 0;
}

.my-40 {
    margin: 40px 0px;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.flex-center{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.flex-around {
    display: flex;
    justify-content: space-around;
}

.text-center {
    text-align: center;
}

h2{
    font-size:30px;
    margin: 30px 0px;
}

/* NAVBAR CSS */
.navbar {
    width: 100%;
    background-color: var(--blue-texas);
    height: 280px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 100;
    align-items: center; 
}

.nav-box {
    width: 50%;
    height: 100%;
    transition:  0.2s ease-in-out;
}

.navbar {
    overflow: hidden;
}

.nav-register-box, .nav-who-box {
   margin-top: 120px;
   transition:  0.3s ease-in-out;
}

a {
    text-decoration: none;
    color: var(--white-texas);
}

#register {
    font-size: 20px;
    border: 1px solid var(--white-texas);
    border-radius: 10px;
    padding: 5px 10px;
    transition:  0.4s ease-in-out;
}
#who {
    font-size: 20px;
    border: 1px solid var(--white-texas);
    border-radius: 10px;
    padding: 5px 10px;
    transition:  0.4s ease-in-out;
}

.logo-image {
    width: 40%;
    height: auto;
    max-height: 400px;
    position: relative;
    right:15px;
    background-image: url(../../images/etoile_texas.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: height 0.3s ease, opacity 0.3s ease;
    opacity: 1;
}

.flag-div {
    width: 100%;
    display: flex;
}

.red-flag-div {
    width: 50%;
    border: 2px solid var(--red-texas);
}

.white-flag-div {
    width: 50%;
    border: 2px solid var(--white-texas);
}

/* FORM STYLE*/
.form-banner{
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-image: url('../../images/austin_buildings_large.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* position: fixed; */
}

.form-blurry-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    backdrop-filter: blur(5px); /* blurry effect in the back */
    -webkit-backdrop-filter: blur(5px);
}
.frame{
    width: 800px;
    padding: 30px 0px;
    border-radius: 3px;
    z-index: 2;
    background-color: rgb(240, 255, 255,0.5);
}

form{
    min-width: 400px;
    margin: 60px 0px;
}

#category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.category-card {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    text-align: center;
}

.category-card:hover {
    border-color: #007bff;
}

.category-card.selected {
    background-color: var(--blue-texas);
    color: var(--white-texas);
    border-color: var(--blue-texas);
}

/* forms inputs */
.inputBox{
  position: relative;
  height: 80px;
}

.inputBox input{
  width: 100%;
  font-size: 25px;
  color: var(--black-color);
  /* font-weight: bold; */
  background: transparent;
  border: none;
  border-bottom: 2px solid black;
  border-radius: 2px;
  margin-bottom: 30px;
}

.inputBox strong{
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  font-size: 25px;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.inputBox input:focus~strong,
.inputBox input:valid~strong{
  top:-30px;
  left: 0;
  font-style: italic;
  font-weight: 200;
}

.label-text {
    margin-top: 0;
    font-weight: 500;
    font-size: 25px;
}

/* form buttons */
.btn-primary, .btn-secondary {
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-primary {
    background-color: var(--blue-texas);
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.step2-buttons {
    margin: 30px 0px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
