/* # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : static/appmain/css/who_are_we.css
# Author : Morice
# --------------------------------------------------------------------------- */


/* WHO ARE WE PAGE */


.who-banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../../images/fort_worth_stockyards_coliseum.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 2px solid var(--black-color);
}
.who-container {
    height: auto;
    display: flex;
    position: absolute;
    top: 40%;
    left: 10%;
}

.clock {
    min-width: 11rem;
    opacity: 0.9;
    background-color:transparent;
    padding: 1rem;
    border: 3px solid var(--white-texas);
    border-radius: 0 0.625rem 0.625rem 0; 
}

.clock li {
    list-style-type: none; 
    margin-top: 2rem;
}

.clock p {
    color: var(--white-texas);
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0;
    opacity: 1 !important;
}

.round-who-banner {
    background-color: var(--white-texas);
    opacity: 0.8;
    border-radius: 0.625rem 0 0 0.625rem;
    color: var(--navbar-and-dot);
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
}

.round-who-banner ul li {
    color: var(--brick-color);
    text-decoration: none;
    line-height: 3rem;
}

.who-banner h2 {
    position: absolute;
    width: 65%;
    top: 90%; 
    left: 65%; 
    transform: translate(-50%, -50%); 
    color: var(--white-texas);
    font-size: clamp(2.5rem, 2.5vw, 2rem);
    margin: 0;
}
.biography-banner {
    width: 70%;
    margin: auto;
    padding-top: 1rem;
}

.biography {
    color: var(--brick-color);
    font-size: 1.5rem;
    font-family: "Marck Script", cursive;
    font-weight: 600;
    font-style: normal;
}

.biography-image-wrapper {
    position: relative;
    display: inline-block;
}

.biography-picture {
    display: block;
    width: 100%;
    height: auto;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    pointer-events: none;
    z-index: 100;
}
