<!-- # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : appmain/templates/lebonplantexas/checkout_cancelled.html
# Author : Morice
# --------------------------------------------------------------------------- -->


{% extends 'base_checkout.html' %}

{% load static %}
{% load i18n %}

{% block content %}
        <h2 class="align-center">{% translate 'Votre transaction a été annulée' %}</h2>
        <div class="invoice-container">
            <p>{% translate 'Vos accès à nos service ne sont plus disponible.' %}</p>
            <p>{% translate 'Nous sommes navré de cette situation et serions heureux de vous revoir bientôt.' %}</p>
            <p>{% translate "Numéro de facture annulée:" %} {{ trip_invoice.invoice_number }}</p>
            <!-- invoice table -->
            <table>
                <thead>
                    <tr>
                        <th>{% translate 'Service' %}</th>
                        <th>{% translate 'Choix' %}</th>
                        <th>{% translate 'Nombre de jours' %}</th>
                        <th>{% translate 'Prix (€)' %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{% translate 'Autonome' %}</td>
                        <td>{{ trip_invoice.mobile_service|yesno:"V,X" }}</td>
                        <td>{{ trip_invoice.nbr_days_mobile|default:"-" }}</td>
                        <td>{{ trip_invoice.price_mobile|default:"-" }}</td>
                    </tr>
                    <tr>
                        <td>{% translate 'Guide' %}</td>
                        <td>{{ trip_invoice.driver_service|yesno:"V,X" }}</td>
                        <td>{{ trip_invoice.nbr_days_driver|default:"-" }}</td>
                        <td>{{ trip_invoice.price_driver|default:"-" }}</td>
                    </tr>
                    <tr>
                        <td>{% translate 'Platinum' %}</td>
                        <td>{{ trip_invoice.platinum_service|yesno:"V,X" }}</td>
                        <td>{{ trip_invoice.nbr_days_platinum|default:"-" }}</td>
                        <td>{{ trip_invoice.price_platinum|default:"-" }}</td>
                    </tr>
                    <tr class="total-row">
                        <td colspan="3">{% translate 'Total TTC' %}</td>
                        <td>{{ amount_paid }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
{% endblock %}

