<!-- # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : appmain/templates/lebonplantexas/checkout_success.html
# Author : Morice
# --------------------------------------------------------------------------- -->


{% extends 'base_checkout.html' %}

{% load static %}
{% load i18n %}

{% block content %}
        <h2 class="align-center">{% translate 'Votre transaction a été accepté' %}</h2>
        <hr class="hr">
        <div class="invoice-container">
            <p><strong>{% translate 'Merci de faire confiance à LeBonPlanTEXAS' %} {{trip_invoice.customer.first_name|capfirst }}.</strong></p>
            <p><strong>{% translate 'Votre réservation est confirmée. Nous vous contacterons sous peu.' %}</strong></p>
            <h3 class="align-center"><u>{% translate 'Facture' %}</u></h3>
            <p><strong>{% translate "Numéro de Facture :" %} {{ trip_invoice.invoice_number }}</strong></p>
            <p><strong>{% translate "Date de paiement :" %} {{ trip_invoice.is_paid_date }}</strong></p>
            <p><strong class="my-0">{{ company_info.legal_structure }} {{ company_info.name }}</strong></p>
            <p><strong class="my-0">{% translate 'SIREN :' %} {{ company_info.siren }}</strong></p>
            <p><strong class="my-0">{{ company_info.address }}</strong></p>
            <br>
            <h4>{% translate 'Vos coordonnées :' %}</h4>
            <p><strong class="my-0">{{ trip_invoice.customer.first_name|capfirst }} {{ trip_invoice.customer.last_name|capfirst }}</strong></p>
            <p><strong class="my-0">{{ trip_invoice.customer.address }}</strong></p>
            <p><strong class="my-0">{{ trip_invoice.customer.email }}</strong></p>
            <p><strong class="my-0">{{ trip_invoice.customer.phone }}</strong></p>
            <!-- invoice table -->
            <table>
                <thead>
                    <tr>
                        <th>{% translate 'Service' %}</th>
                        <th>{% translate 'Choix' %}</th>
                        <th>{% translate 'Nombre de jours' %}</th>
                        <th>{% translate 'Prix/jour hors taxe(€)' %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{% translate 'Autonome' %}</td>
                        <td>{{ trip_invoice.mobile_service|yesno:"V,X" }}</td>
                        <td>{{ trip_invoice.nbr_days_mobile|default:"-" }}</td>
                        <td>{{ trip_invoice.mobile_price_excl_tax|default:"-" }}</td>
                    </tr>
                    <tr>
                        <td>{% translate 'Chauffeur privé' %}</td>
                        <td>{{ trip_invoice.driver_service|yesno:"V,X" }}</td>
                        <td>{{ trip_invoice.nbr_days_driver|default:"-" }}</td>
                        <td>{{ trip_invoice.driver_price_excl_tax|default:"-" }}</td>
                    </tr>
                    <tr>
                        <td>{% translate 'Platinum' %}</td>
                        <td>{{ trip_invoice.platinum_service|yesno:"V,X" }}</td>
                        <td>{{ trip_invoice.nbr_days_platinum|default:"-" }}</td>
                        <td>{{ trip_invoice.platinum_price_excl_tax|default:"-" }}</td>
                    </tr>
                    <tr class="total-row">
                        <td colspan="3">{% translate 'Total TTC' %}</td>
                        <td>{{ amount_paid }} ({% translate 'dont taxe :' %} {{trip_invoice.tax_amount}})</td>
                    </tr>
                </tbody>
            </table>
        </div>
            <div class="btn-position">
                <a class="btn-primary" href="{% url 'print_invoice' trip_invoice.id %}" target="_blank">{% translate 'TELECHARGER' %}</a>
            </div>
{% endblock %}

