<!-- # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : appmain/templates/lebonplantexas/checkout_cancelled.html
# Author : Morice
# --------------------------------------------------------------------------- -->


{% extends 'base_checkout.html' %}

{% load static %}
{% load i18n %}

{% block content %}
        <h3 class="align-center c-white">{% translate 'Votre transaction a été annulée' %}</h3>
        <hr class="hr">
        <div class="invoice-container">
            <p>{% translate 'Vos accès à nos services ne sont plus disponibles.' %}</p>
            <p>{% translate 'Nous sommes navré de cette situation et serions heureux de vous revoir bientôt.' %}</p>
            <p>{% translate "Numéro de facture annulée:" %} {{ trip_invoice.invoice_number }}</p>
            <br>
            <p class="my-0">{{ company_info.legal_structure }} {{ company_info.name }}</p>
            <p class="my-0">{% translate 'SIREN :' %} {{ company_info.siren }}</p>
            <p class="my-0">{{ company_info.address }}</p>
            <br>
            <p>{% translate 'Vos coordonnées :' %}</p>
            <p class="my-0">{{ trip_invoice.customer.first_name|capfirst }} {{ trip_invoice.customer.last_name|capfirst }}</p>
            {% if trip_invoice.customer.address %}
            <p class="my-0">{{ trip_invoice.customer.address }}</p>
            {% endif %}       
            <p class="my-0">{{ trip_invoice.customer.email }}</p>
            <p class="my-0">{{ trip_invoice.customer.phone }}</p>
            <!-- invoice table -->
            <table>
                <thead>
                    <tr>
                        <th>{% translate 'Service' %}</th>
                        <th>{% translate 'Choix' %}</th>
                        <th>{% translate 'Nombre de jours' %}</th>
                        <th>{% translate 'Prix/jour hors taxe(€)' %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{% translate 'Autonome' %}</td>
                        <td>{{ trip_invoice.mobile_service|yesno:"V,X" }}</td>
                        <td>{{ trip_invoice.nbr_days_mobile|default:"-" }}</td>
                        <td>{{ trip_invoice.mobile_price_excl_tax|default:"-" }}</td>
                    </tr>
                    <tr>
                        <td>{% translate 'Chauffeur privé' %}</td>
                        <td>{{ trip_invoice.driver_service|yesno:"V,X" }}</td>
                        <td>{{ trip_invoice.nbr_days_driver|default:"-" }}</td>
                        <td>{{ trip_invoice.driver_price_excl_tax|default:"-" }}</td>
                    </tr>
                    <tr>
                        <td>{% translate 'Platinum' %}</td>
                        <td>{{ trip_invoice.platinum_service|yesno:"V,X" }}</td>
                        <td>{{ trip_invoice.nbr_days_platinum|default:"-" }}</td>
                        <td>{{ trip_invoice.platinum_price_excl_tax|default:"-" }}</td>
                    </tr>
                    <tr class="total-row">
                        <td colspan="3">{% translate 'Total TTC' %}</td>
                        <td>{{ amount_paid }} ({% translate 'dont taxe :' %} {{trip_invoice.tax_amount}})</td>
                    </tr>
                    
                    <!-- Promo section -->
                    {% if trip_invoice.discount %}
                    <tr>
                        <td colspan="3" class="bold c-red">
                            {% translate 'Réduction appliquée' %}
                        </td>
                        <td class="bold c-red">
                            -{{ trip_invoice.discount.rate }} %
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="bold c-green">
                            {% translate 'Total HTC après réduction en €' %}
                        </td>
                        <td class="bold c-green">
                            {{ trip_invoice.total_incl_discount }} €
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
{% endblock %}

