<!-- # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : appmain/templates/lebonplantexas/index.html
# Author : Morice
# --------------------------------------------------------------------------- -->


{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}
<div class="landing-banner">
    <!-- Longhorn picture banner -->
    <div class="round-banner">
        <p>{% translate 'Vos vacances intelligentes : planifiez, explorez et vivez des expériences inoubliables via un assitant mobile.' %}</p>
    </div>
</div>
    <!-- company concept quick explantion banner -->
    <h2 class="demo-banner-title">{% translate 'Pourquoi voyager avec LeBonPlanTEXAS ?' %}</h2>
    <section class="demo-banner">
        <div class="item">
            <div class="mobile-step1"></div>
            <div class="mobile-step-p"><p>{% translate 'Votre guide ultime : découvrez une mine d\'idees touristiques incontournables au Texas.' %}</p></div>
        </div>
        <div class="item">
            <div class="mobile-step2"></div>
            <div class="mobile-step-p"><p>{% translate 'Planifiez malin : explorez plus, économisez du temps, vivez des merveilles.' %}</p></div>
        </div>
        <div class="item">
            <div class="mobile-step3"></div>
            <div class="mobile-step-p"><p>{% translate 'Votre copilote touristique : trajets, horaires et conseils, notre assitant vous guide en temps réel.' %}</p></div>
        </div>
    </section>

    <!-- Introducing the different services provided -->
    <section class="second-banner">
        <div class="second-banner-title">
            <h2>{% translate 'Nos services' %}</h2>
        </div>
        <div class="service-box">
            <div class="service-app-column">
                <div class="service-app-img">
                    <div class="veil">
                        <h3>{% translate 'Planification autonome sur application mobile' %}</h3>
                        <p>{% translate 'A partir de 5euros à la journée, composez vous-même votre voyage, à partir d\'une grande base de données incluant' %}
                            {% translate 'histoire, culture, sorties, évènements annuels et bien d\'autres...' %}   
                            {% translate 'Puis laissez notre application mobile vous guider' %}   
                        </p>
                    </div>
                </div>
            </div>
            <div class="service-custom-column">
                <div class="service_guide">
                    <div class="service-guide-img">
                        <div class="veil">
                            <h3>{% translate 'Guide touriste bilingue et véhiculé à la journée' %}</h3>
                            <p>{% translate 'Laissez moi être votre chauffeur personnel le temps d\'une journée ou plus.' %}
                                {% translate 'Conseiller, compteur d\'histoire, traducteur, ambianceur ou tout bonnement invisible' %}   
                            </p>
                        </div>
                    </div>
                </div>
                <div class="service">
                    <div class="service-custom-img">
                        <div class="veil">
                            <h3>{% translate 'Formule Platinum' %}</h3>
                            <p>{% translate 'Planifiez votre séjour avec un grand connaisseur du Texas.' %}
                                {% translate 'Je vous suggérerai les meilleurs activités adaptées à vos besoins et ferai toutes recherches supplémentaires pour un voyage parfait.' %}   
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <h2 class="mt-6 text-center">{% translate 'Go big or go home!' %}{% if not trip_invoice.customer.country == 'US' %}*</h2>{% else %}</h2>{% endif %}
    {% if not trip_invoice.customer.country == 'US' %}<p class="text-center"><small class="c-black"><i>*Voyez grand ou restez chez vous !</i></small></p>{% endif %}
    <br>
    <section class="third-banner">
        <div class="third-banner-form-box">
            <h3 class="c-black">{% translate 'Les classiques du texas' %}</h3>
            {% if  file_names %}
            <form class="third-banner-form" id="city-selector-form">
                <select class="region-selector" id="city-select" name="city">
                    {% for file in file_names %}
                        {% if file.file_name == 'dallas' %}
                        <option value='{{ file.id }}' selected>{{ file.file_name|capfirst }}</option>
                        {% else %}
                        <option value='{{ file.id }}'>{{ file.file_name|capfirst }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            {% else %}
            <p>no access to BDD</p>
            {% endif %}</form>         
        </div>
        <div id="activities-container" class="activities-container">
            <!-- Activity cards injected here from ajax -->
        </div>
    </section>

    <section class="texas-banner">
        <span class="word">{% translate 'Alligator' %}</span>
        <span class="word">{% translate 'Coyote' %}</span>
        <span class="word">Alabama-Coushatta</span>
        <span class="word">{% translate 'Désert' %}</span>
        <span class="word">{% translate 'Forêt' %}</span>
        <span class="word">{% translate 'Golfe du Mexique' %}</span>
        <span class="word">{% translate 'Viticulture' %}</span>
        <span class="word">{% translate 'Longhorn' %}</span>
        <span class="word">{% translate 'Honky Tonk' %}</span>
        <span class="word">Ysleta del Sur Pueblo</span>
        <span class="word">{% translate 'Liberté' %}</span>
        <span class="word">{% translate 'Barbecue' %}</span>
        <span class="word">{% translate 'Cowboy' %}</span>
        <span class="word">{% translate 'Rodéo' %}</span>
        <span class="word">{% translate 'Bison' %}</span>
        <span class="word">{% translate 'Prairie' %}</span>
        <span class="word">{% translate 'Ranch' %}</span>
        <span class="word">{% translate 'Pétrole' %}</span>
        <span class="word">Kickapoo</span>
        <span class="word">{% translate 'Chili' %}</span>
        <span class="word">{% translate 'Western' %}</span>
    </section>
    

        
        <!-- First banner with adds on the right
        <section class="first-banner">
            <div class="mobile-picture">
            </div>
            <div class="bdd-accroche">
                <p>{% translate 'Des centaines de visites, activités, évènements et sorties mis à jour quotidiennement.' %}</p>
                <p>{% translate 'LeBonPlanTEXAS' %} <strong>{% translate 'efficace' %}</strong>,
                    <strong>{% translate 'rapide' %}</strong>,<strong>{% translate ' pas cher' %}</strong>.
                </p>
            </div>
            <div class="bdd-activities-box">
                 carrousel for advertissements -->
                <!-- <div class="carousel">
                    <div class="carousel-images">
                        <div class="carousel-item">
                            <img src="{% static 'images/gruene_grove.jpg' %}" alt="Pub 1">
                            <div class="carousel-caption">Musique live et détente à Gruene la magnifique</div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/austin_capitole.jpg' %}" alt="Pub 2">
                            <div class="carousel-caption">Partez à la conquête d'Austin'</div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/pool_preserve.jpg' %}" alt="Pub 3">
                            <div class="carousel-caption">Explorez la nature riche en surprise du Texas</div>
                        </div>
                    </div>
                    <button class="carousel-btn prev" onclick="moveCarousel(-1)">&#10094;</button>
                    <button class="carousel-btn next" onclick="moveCarousel(1)">&#10095;</button>
                </div>            
            </div>
        </section> --> 
{% endblock %}


