<!-- # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : appmain/templates/lebonplantexas/index.html
# Author : Morice
# --------------------------------------------------------------------------- -->


{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}
<div class="landing-banner">
    <!-- Longhorn picture banner -->
    <div class="round-banner">
        <p>{% translate 'Planifiez votre voyage sur une application et les meilleures activités au Texas' %}</p>
    </div>
</div>
    <!-- First banner with adds on the right -->
    <div class="first-banner">
        <div class="mobile-picture">
        </div>
        <div class="bdd-accroche">
            <p>{% translate 'Des centaines de visites, activités, évènements et sorties mis à jour quotidiennement.' %}</p>
            <p>{% translate 'LeBonPlanTEXAS' %} <strong>{% translate 'efficace' %}</strong>,
                <strong>{% translate 'rapide' %}</strong>,<strong>{% translate ' pas cher' %}</strong>.
            </p>
        </div>
        <div class="bdd-activities-box">
            <!-- carrousel for advertissements -->
            <div class="carousel">
                <div class="carousel-images">
                    <div class="carousel-item">
                        <img src="{% static 'images/gruene_grove.jpg' %}" alt="Pub 1">
                        <div class="carousel-caption">Musique live et détente à Gruene la magnifique</div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/austin_capitole.jpg' %}" alt="Pub 2">
                        <div class="carousel-caption">Partez à la conquête d'Austin'</div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/pool_preserve.jpg' %}" alt="Pub 3">
                        <div class="carousel-caption">Explorez la nature riche en surprise du Texas</div>
                    </div>
                </div>
                <button class="carousel-btn prev" onclick="moveCarousel(-1)">&#10094;</button>
                <button class="carousel-btn next" onclick="moveCarousel(1)">&#10095;</button>
            </div>            
        </div>
    </div>
    <div class="second-banner">
        <div class="banner-title">
            <h1>{% translate 'NOS SERVICES' %}</h1>
            <p>{% translate 'LeBonPlanTEXAS a pour but de vous faciliter la découverte de cette terre de liberté et de contraste, en vous proposant les services multiples d\'amoureux de ce grand état. Nos services vous permettent de gagner du temps de recherche et d\'optimiser votre voyage.' %}
            </p>
        </div>
        <div class="service-box">
            <div class="service-app-column">
                <div class="service-app-img">
                    <div class="veil">
                        <h3>{% translate 'Planification autonome sur application mobile' %}</h3>
                        <p>{% translate 'A partir de 5euros à la journée, composez vous-même votre voyage, à partir d\'une grande base de données incluant' %}
                            {% translate 'histoire, culture, sorties, évènements annuels et bien d\'autres...' %}   
                            {% translate 'Puis laissez notre application mobile vous guider' %}   
                        </p>
                    </div>
                </div>
            </div>
            <div class="service-custom-column">
                <div class="service_guide">
                    <div class="service-guide-img">
                        <div class="veil">
                            <h3>{% translate 'Guide touriste bilingue et véhiculé à la journée' %}</h3>
                            <p>{% translate 'Laissez moi être votre chauffeur personnel le temps d\'une journée ou plus.' %}
                                {% translate 'Conseiller, compteur d\'histoire, traducteur, ambianceur ou tout bonnement invisible' %}   
                            </p>
                        </div>
                    </div>
                </div>
                <div class="service">
                    <div class="service-custom-img">
                        <div class="veil">
                            <h3>{% translate 'Formule Platinium' %}</h3>
                            <p>{% translate 'Planifiez votre séjour avec un grand connaisseur du Texas.' %}
                                {% translate 'Je vous suggererai les meilleurs activités adaptées à vos besoins et ferai toutes recherches supplémentaires pour un voyage parfait.' %}   
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


