<!-- # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : appmain/templates/lebonplantexas/register_form2.html
# Author : Morice
# --------------------------------------------------------------------------- -->


{% extends 'base_fixed.html' %}

{% load static %}
{% load i18n %}

{% block content %}

<div class="texas-trip-form-container mt-6">
    <div class="form-header-bg">
        <div class="form-header">
            <h2>{{ title }}</h2>
        </div>
    </div>
        <!-- <h3 class="text-center c-black">{% translate 'Étape' %} {{ step }}/3</h3> --> 
        <form class="register-form" method="post">
            {% if messages %}
            <div class="messages mb-1">
                {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                    {{ message }} 

                </div>
            {% endfor %}
            </div>
            {% endif %}
            {% csrf_token %}
            <div class="reset-form-box">
                <a href="{% url 'reset_form' %}" class="btn-no-appearance">{% translate 'Annuler' %}</a>
            </div>

            {% if step == 1 %}
            <div class="texas-trip-card-container">
                {% for choice_value, choice_label in form.package.field.choices %}
                <label class="texas-trip-card  package-card" for="id_package_{{ forloop.counter }}">
                    {% if choice_value == 1 and not pckg_auto %}
                        <h4 class="c-red text-center mt-1">{% trans 'Bientôt disponible' %}</h4>
                    {% elif choice_value == 2 and not pckg_driver %}
                        <h4 class="c-red text-center mt-1">{% trans 'Bientôt disponible' %}</h4>
                    {% elif choice_value == 3 and not pckg_plat %}
                        <h4 class="c-red text-center mt-1">{% trans 'Bientôt disponible' %}</h4>
                    {% else %}
                    <input 
                    type="radio" 
                    id="id_package_{{ forloop.counter }}" 
                    name="{{ form.package.name }}" 
                    value="{{ choice_value }}" 
                    {% if form.package.value == choice_value %}checked{% endif %}
                    class="d-none"
                    >
                    {% endif %}
                    <div class="text-center h-100">
                        <h3 class="package-card-title">{{ choice_label|upper }}</h3>
                        <p>
                            {% if choice_value == 1 %}
                                {% translate "Accès à l'application de planification, aux meilleures activités du Texas et à l'assistant de voyage." %}
                            {% elif choice_value == 2 %}
                                {% translate 'Chauffeur et guide touristique pour une journée ou plus. Accès gratuit à la formule autonome.' %}
                            {% elif choice_value == 3 %}
                                {% translate 'Nous organisons votre voyage en fonction de vos besoins. Accès gratuit à la formule autonome.' %}
                            {% endif %}
                        </p>
                    </div>
                </label>
                {% endfor %}
            </div>
                <div class="flex-center align-center">
                    <button type="submit" class="btn-secondary mt-2">{% translate 'Commencer' %}</button>
                </div>
            {% elif step == 2 %}
            <div class="customer-details">
                <div>
                    <div class="inputBox mt-2">
                        <input type="text" name="first_name" id="id_first_name" class="form-control" required>
                        <strong for="id_first_name">{{ form.first_name.label }}</strong>
                    </div>
                    <div class="inputBox mt-2">
                        <input type="text" name="last_name" id="id_last_name" class="form-control" required>
                        <strong for="id_last_name">{{ form.last_name.label }}</strong>
                    </div>
                </div>
                <div>
                    <div class="inputBox mt-2">
                        <input type="text" name="email" id="id_email" class="form-control" required>
                        <strong for="id_email">{{ form.email.label }}</strong>
                    </div>
                    <div class="inputBox mt-2">
                        <input type="text" name="phone" id="id_phone" class="form-control" required>
                        <strong for="id_phone">{{ form.phone.label }}</strong>
                    </div>
                </div>
            </div>
            <div class="flex-center">
                {{ form.country }}
            </div>
            <div class="flex-center my-2">
                <button type="submit" class="btn-secondary">{% translate 'SUIVANT' %}</button>
            </div>

            {% elif step == 3 %}
            <div class="trip-details-container">
                <div class="trip-details1">
                    <!-- start and end dates box -->
                    <div class="trip-details-date-container">
                        <div>
                            <p class="label-text">{{ form.start_date.label }}</p>
                            {{ form.start_date }}
                        </div>
                        <div>
                            <p class="label-text">{{ form.end_date.label }}</p>
                            {{ form.end_date }}
                        </div>
                    </div>
                    {% if package == '2' %}
                    <div class="inputBox mt-2">
                        <input type="text" name="cities" id="id_cities" class="form-control" required>
                        <strong class="label-text" for="id_cities">{{ form.cities.label }}</strong>
                    </div>
                    <strong>{% translate 'Formule chauffeur privé:' %}</strong>
                    <div class="flex-between mt-1">
                        <strong class="label-text">{{ form.nbr_days_driver.label }}</strong>
                        {{ form.nbr_days_driver }}
                    </div>
                    {% else %}
                    <div class="inputBox mt-6">
                        <input type="text" name="cities" id="id_cities" class="form-control" required>
                        <strong class="label-text" for="id_cities">{{ form.cities.label }}</strong>
                    </div>
                    {% endif %}
                </div>
                <div class="trip-details2">
                    {{ form.comment }}
                </div>
            </div>
            
            <!-- step2 special buttons box -->
            <div class="flex-center my-2">
                <!-- <button type="submit" name="add_trip" class="btn-primary">{% translate 'AJOUTER UNE ETAPE' %}</button> -->
                <button type="submit" name="finish_trips" class="btn-secondary">{% translate 'SUIVANT' %}</button>
            </div>
        </form>
        {% elif step == 4 %}
            <p class="label-text">Choisissez une ou plusieurs catégories :</p>
            <form id="category-form" method="post">
                {% csrf_token %}
                <div id="category-container">
                    {% for category in categories %}
                        <div class="category-card" data-category-id="{{ category.id }}">
                            {{ category.name }}
                        </div>
                    {% endfor %}
                </div>
                <!-- Champ caché pour transmettre les IDs des catégories sélectionnées -->
                <input type="hidden" name="categories" id="selected-categories" value="">
                <div class="flex-around"> 
                    <div class="my-2">
                        <p class="label-text">{% trans 'Vous avez un code promo ?' %}</p>
                        <strong class="label-text">{{ form.code.label }}</strong>
                        {{ form.code }}
                    </div>  
                    <div class="align-center">
                        <button type="submit" id="finalize-btn" class="btn-secondary">{% translate 'FINALISER' %}</button>
                        <div id="loading-spinner" class="hidden">
                            <img src="{% static 'images/icons/loading.gif' %}" alt="Chargement..." width="50">
                        </div>
                    </div>             
                    
                </div>
            </form>
            {% endif %}
</div>
    <div class="form-footer-bg">
        <div class="form-footer">
        </div>
    </div>

    <!-- javascript for messages fade out et loading spinner -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
    const messages = document.querySelectorAll('.messages .alert');

    const finalizeBtn = document.getElementById("finalize-btn");
    const loadingSpinner = document.getElementById("loading-spinner");

    if (messages) {
        messages.forEach(function(message) {
            setTimeout(function() {
                message.classList.add('hide');
            }, 4000); 
            setTimeout(function() {
                message.remove();
            }, 6500); 
        });
    }

    if (finalizeBtn) {
        finalizeBtn.addEventListener("click", function() {
            finalizeBtn.style.display = "none";  // Cache le bouton
            loadingSpinner.classList.remove("hidden");  // Affiche la roue de chargement
        });
    }

    // javascript to adapt date input format according to the language
    let userLang = navigator.language || navigator.userLanguage; 
    let dateFormat = "yyyy-mm-dd";  // Format par défaut ISO

    if (userLang.startsWith("fr")) {
        dateFormat = "dd/mm/yyyy";
    } else if (userLang.startsWith("es")) {
        dateFormat = "dd/mm/yyyy";
    } else if (userLang.startsWith("en")) {
        dateFormat = "mm/dd/yyyy";
    }

    document.querySelectorAll("input[type='date']").forEach(function(input) {
        input.setAttribute("placeholder", dateFormat);
    });

});

</script>
{% endblock %}



