<!-- # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : appmain/templates/lebonplantexas/register_form.html
# Author : Morice
# --------------------------------------------------------------------------- -->


{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}
<div class="form-banner">
    <div class="form-blurry-container">
        <div class="frame">
            <div>
                <h2 class="text-center">{% translate 'Étape' %} {{ step }}/3</h2>
            
                <form method="post">
                    {% csrf_token %}
                    {% if step == 1 %}
                    <div class="flex-center">
                        <div>
                            <div class="inputBox">
                                <input type="text" name="first_name" id="id_first_name" class="form-control" required>
                                <strong for="id_first_name">{{ form.first_name.label }}</strong>
                            </div>
                            <div class="inputBox">
                                <input type="text" name="last_name" id="id_last_name" class="form-control" required>
                                <strong for="id_last_name">{{ form.last_name.label }}</strong>
                            </div>
                        </div>
                        <div>
                            <div class="inputBox">
                                <input type="text" name="email" id="id_email" class="form-control" required>
                                <strong for="id_email">{{ form.email.label }}</strong>
                            </div>
                            <div class="inputBox">
                                <input type="text" name="phone" id="id_phone" class="form-control" required>
                                <strong for="id_phone">{{ form.phone.label }}</strong>
                            </div>
                        </div>
                    </div>
                    <div class="flex-center">
                        <button type="submit" class="btn-primary">{% translate 'SUIVANT' %}</button>
                    </div>
    
                    {% elif step == 2 %}
                    <div class="flex-center">
                        <div>
                            <!-- start and end dates box -->
                            <div class="flex-around">
                                <div>
                                    <p class="label-text">{{ form.start_date.label }}</p>
                                    {{ form.start_date }}
                                </div>
                                <div>
                                    <p class="label-text">{{ form.end_date.label }}</p>
                                    {{ form.end_date }}
                                </div>
                            </div>
                            <div class="inputBox my-40">
                                <input type="text" name="cities" id="id_cities" class="form-control" required>
                                <strong for="id_cities">{{ form.cities.label }}</strong>
                            </div>
                            <div class="">
                                <strong class="label-text">{{ form.vehiculed.label }}</strong>
                                {{ form.vehiculed }}
                            </div>
                        </div>
                        <div class="w-50">
                            <p class="label-text">{{ form.comment.label }}</p>
                            {{ form.comment }}
                        </div>
                    </div>
                    
                    <!-- step2 special buttons box -->
                    <div class="step2-buttons">
                        <button type="submit" name="add_trip" class="btn-secondary">Ajouter une autre étape</button>
                        <button type="submit" name="finish_trips" class="btn-primary">Passer à l'étape suivante</button>
                    </div>
                </form>
                {% elif step == 3 %}
                    <p class="label-text">Choisissez une ou plusieurs catégories :</p>
                    <form id="category-form" method="post">
                        {% csrf_token %}
                        <div id="category-container">
                            {% for category in categories %}
                                <div class="category-card" data-category-id="{{ category.id }}">
                                    {{ category.name }}
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Champ caché pour transmettre les IDs des catégories sélectionnées -->
                        <input type="hidden" name="categories" id="selected-categories" value="">
                        <button type="submit" class="btn-primary">Valider</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


