<!-- # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : appmain/templates/lebonplantexas/service.html
# Author : Morice
# --------------------------------------------------------------------------- -->


{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block content %}
<div class="service-banner">
    <!-- Longhorn picture banner -->
    <div class="round-service-banner">
        <p>{% translate 'Plus économique et flexible qu\'une agence de voyage, vous ne partirez plus sans nous !' %}</p>
    </div>
    <h2 class="text-center">{% translate 'Tarification des services LeBonPlanTEXAS' %}</h2>
</div>
<h2 class="mt-6 text-center">{% translate 'Everthing\'s bigger in TEXAS!' %}{% if not trip_invoice.customer.country == 'US' %}*</h2>{% else %}</h2>{% endif %}
{% if not trip_invoice.customer.country == 'US' %}<p class="text-center"><small class="c-black"><i>*Tout est plus grand au TEXAS !</i></small></p>{% endif %}
<br>
<div class="service-container-frame">
    <div class="service-container">
        <!-- a refactoriser en bouclant sur model Price !!attention ajuster les views service_view et register_view line 38,40,42!! -->
        <div class="column" id="service1">
            <div class="content">
                <div class="service-desc">
                    <h3 class="c-white text-center">{% translate 'Formule Chauffeur privé' %}</h3>
                    {% if not driver %}
                    <h3 class="c-red">{% trans 'Bientôt disponible' %}</h3>
                    {% else %}
                    <p><u>{% translate 'Description du service :' %}</u></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="column" id="service2">
            <div class="content">
                <div class="service-desc">
                    <h3 class="c-white text-center">{% translate 'Formule Autonome' %}</h3>
                    {% if not auto %}
                    <h3 class="c-red">{% trans 'Bientôt disponible' %}</h3>
                    {% else %}
                    <p><u>{% translate 'Description du service :' %}</u></p>
                    <ul>
                        <li>{% translate 'Une appli mobile facile d\'accès pour planifier vos journées.' %}</li>
                        <li>{% translate 'Ne payez que pour les jours où vous désirez nos services.' %}</li>
                        <li>{% translate '2 demi-journées (arrivée/départ) offertes (1jour minimum). ' %}</li>
                    </ul>
                    <ul>
                        <li>{% translate 'Composez votre planning à partir d\'une immense base de donnée.' %}</li>
                        <li>{% translate 'Enchainez les activités en fonction de leur géolocalisations et gagnez du temps.' %}</li>
                        <li>{% translate 'Notre assistant vous guide tout au long de votre voyage. ' %}</li>
                    </ul>
                    <p class="service-price"><strong>{{ auto.price_excl_tax }}</strong>{% trans '€/jour' %}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="column" id="service3">
            <div class="content">
                <div class="service-desc">
                    <h3 class="c-white text-center">{% translate 'Formule Platinum' %}</h3>
                    {% if not plat %}
                    <h3 class="c-red">{% trans 'Bientôt disponible' %}</h3>
                    {% else %}
                    <p><u>{% translate 'Description du service :' %}</u></p>
                    {% endif %}
                </div> 
            </div>
        </div>
    </div>
</div>
{% endblock %}

