<!-- # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : appmain/templates/lebonplantexas/service.html
# Author : Morice
# --------------------------------------------------------------------------- -->


{% extends 'base_fixed.html' %}

{% load i18n %}
{% load static %}

{% block content %}
<div class="service-container">
    <div class="column" id="service1">
        <div class="content">
            <h2>Service 1</h2>
            <p>Description du service 1.</p>
        </div>
    </div>
    <div class="column" id="service2">
        <div class="content">
            <h2>Service 2</h2>
            <p>Description du service 2.</p>
        </div>
    </div>
    <div class="column" id="service3">
        <div class="content">
            <h2>Service 3</h2>
            <p>Description du service 3.</p>
        </div>
    </div>
</div>
{% endblock %}

