<!-- # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : appmain/templates/lebonplantexas/terms_of_use.html
# Author : Morice
# --------------------------------------------------------------------------- -->


{% extends 'base_checkout.html' %}

{% load static %}
{% load i18n %}

{% block content %}
        <h2 class="align-center">{% translate 'Conditions Générales de vente' %}</h2>
        <div class="scrollable">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <!-- Ajoutez le contenu complet des CGU ici -->
        </div>
        <form method="POST" action="/validate_terms/">
            {% csrf_token %}
            <input type="hidden" name="invoice_id" value="{{ invoice.id }}">
            {% if not invoice.terms_of_sale_accepted %}
            <label class="cgv-checkbox">
                <input type="checkbox" name="accept_terms" required>
                {% translate 'J\'accepte les conditions générales de vente.' %}
            </label>
            {% else %}
            <p class="cgv-checkbox">{% translate 'Vous avez déjà accepté les conditions générales de vente.' %}</p>
            {% endif %}
            <div class="btn-position">
                <button class="btn-primary" type="submit">{% translate 'VALIDER' %}</button>
            </div>
        </form>
{% endblock %}
