<!-- # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : appmain/templates/lebonplantexas/index.html
# Author : Morice
# --------------------------------------------------------------------------- -->


{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
</style>
<div>
    <div class="who-banner">
        <!-- stockyards picture banner -->
        <div class="who-container">
            <div class="round-who-banner">
                {% if contact %}
                <ul>
                    <li><i class="fas fa-envelope"></i> {{ contact.email }}
                     </li>
                     <li><i class="fas fa-phone"></i> +33 {{ contact.phone }} <small><i>{% translate 'whatsapp uniquement' %}</i></small></i>
                     </li>
                     <li><i class="fas fa-map-marker-alt"></i> {{ contact.address }}
                     </li>
                     <li><i class="fab fa-instagram"></i> {{ contact.instagram }}
                     </li>
                    </ul>
                    {% else %}
                    <p>{% translate 'Coordonnées non disponibles' %}</p>
                    {% endif %}
            </div>
            <div class="clock">
                <ul>
                    <li class="texas-clock">
                        <p>AUSTIN</p>
                        <p id="clock-austin"></p>
                    </li>
                    <li class="france-clock">
                        <p id="second-city"></p>
                        <p id="clock-paris"></p>
                    </li>
                </ul>
            </div>      
         </div>
        <h2 class=" text-center">{% translate 'Découvrez ci-dessous qui nous sommes' %}</h2>
        <img class="texas-flag" src="{% static 'images/icons/texas_flag.png' %}" alt="Drapeau du Texas prenant la forme de l'état en question">
    </div>
    <div class="biography-banner">
        <p class="biography">
            {% trans "Sécurité, chaleur humaine, grande variété, joie de vivre, qualité de vie incomparable, liberté (la vraie) : voici tout le bonheur que j'ai ressenti en visitant cet État incroyable." %}
            {% trans "Ici, les grandes villes ont la chaleur et l'accueil des villages, et la nature est riche en animaux sauvages. Après des formations de reconversion en informatique et quelques voyages dans le Lone Star State, je n'ai pas pu réfréner mon besoin de faire découvrir à mes compatriotes un style de vie inoubliable, empreint d'une liberté que nous avons perdue." %}
        </p>
        
        <div class="biography-image-wrapper">
            <img src="{% static 'images/morice.jpg' %}" alt="CEO at the office" class="biography-picture">
            <div class="image-overlay"></div>
        </div>
    </div>
    <div class="text-mask-service">
        Ya'll fixing to love Texas!
    </div>
    {% if not request.path|slice:'1:3' == 'en' %}<p class="text-center"><small class="c-black"><i>{% trans '*Vous tous allez adorer le Texas !' %}</i></small></p>{% endif %}
</div>
  
{% endblock %}


