<!-- # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : appmain/templates/base.html
# Author : Morice
# --------------------------------------------------------------------------- -->

{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="4397c185-1ca2-42e9-a09b-a2882e30897f" data-blockingmode="auto" type="text/javascript"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'appmain/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="{% static 'appmain/js/ajax.js' %}" defer></script>
    <script src="{% static 'appmain/js/script.js' %}" defer></script>
    <!-- <script src="{% static 'appmain/js/carousels.js' %}" defer></script> -->
    <title>Voyage au texas</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container w-100 h-100">
            <img src="{% static 'images/logo_star.png' %}" alt="étoile blanche du texas" id="texas-star-base">
            <div class="title-box">
                <div class="burger-and-title-box">
                    <button class="burger-menu" onclick="toggleMenu()">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div class="title">
                        <a href="{% url 'index' %}">
                            <p>{% translate 'LeBonPlan' %}</p>
                            <p><span>{% translate 'TEXAS' %}</span></p>
                        </a>
                    </div>
                </div>
                <ul>
                    <li>
                        <a id="register" href="{% url 'multi_step_form' %}">{% translate 'INSCRIPTION' %}</a>
                    </li>
                    <li>
                        <a id="service" href="{% url 'services' %}">{% translate 'NOS SERVICES' %}</a>
                    </li>
                </ul>
            </div>
            <div class="contact-box">
                <div class="contact-container">
                    <div class="contact-link">
                        <a href="{% url 'contact' %}"><i class="fas fa-phone-alt"></i>  Contactez-nous
                    </div>
                    </a>
                    <div class="flag-box">
                        <a href="#">
                            <img src="{% static 'images/icons/french_flag.png' %}" alt="french flag" class="flag-img">
                        </a>
                        <a href="#">
                            <img src="{% static 'images/icons/us_flag.png' %}" alt="us flag" class="flag-img-us">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    
    {% block content %}
    {% endblock %}

    {% include 'footer.html' %}
</body>
</html>