<!-- # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : appmain/templates/base_fixed2.0.html
# Author : Morice
# --------------------------------------------------------------------------- -->

{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'appmain/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="{% static 'appmain/js/script.js' %}" defer></script>
    <title>Voyage au texas</title>
</head>
<body>
    <nav class="navbar-fixed">
        <div class="navbar-container-fixed w-100 h-100">
            <img src="{% static 'images/logo_star.png' %}" alt="étoile blanche du texas" id="texas-star">
            <div class="title-box-fixed">
                <div class="burger-and-title-box">
                    <button class="burger-menu" onclick="toggleMenu()">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div class="title-fixed">
                        <a href="{% url 'index' %}">
                            {% if request.path|slice:'1:3' == 'fr' %}
                            <p>{% translate 'LeBonPlan' %}</p>
                            <p><span>{% translate 'TEXAS' %}</span></p>
                            {% else %}
                            <p class="en-title-fixed">{% translate 'TEXAS' %}</p>
                            <p><span>{% translate 'Buddy' %}</span></p>
                            {% endif %}
                        </a>
                    </div>
                </div>
                <ul class="nav-links">
                    <li>
                        <a id="register-fixed" href="{% url 'multi_step_form' %}">{% translate 'INSCRIPTION' %}</a>
                    </li>
                    <li>
                        <a id="service-fixed" href="{% url 'services' %}">{% translate 'SERVICES' %}</a>
                    </li>
                </ul>
            </div>
            <div class="contact-box-fixed">
                <div class="contact-container-fixed">
                    <div class="contact-link-fixed">
                        <a href="{% url 'contact' %}"><i class="fas fa-phone-alt"></i> {% translate 'Contactez-nous' %}
                        </a>
                    </div>
                    <div class="flag-box-fixed">
                        <a href="/fr/{{ request.path|slice:'4:' }}">
                            <img src="{% static 'images/icons/french_flag.png' %}" alt="french flag" class="flag-img-fixed">
                        </a>
                        <a href="/en/{{ request.path|slice:'4:' }}">
                            <img src="{% static 'images/icons/us_flag.png' %}" alt="us flag" class="flag-img-us-fixed">
                        </a>
                        <a href="/es/{{ request.path|slice:'4:' }}">
                            <img src="{% static 'images/icons/mex_flag.png' %}" alt="mexican flag" class="flag-img-mex">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}

    {% include 'footer.html' %}
</body>
</html>