<!-- # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : appmain/templates/base.html
# Author : Morice
# --------------------------------------------------------------------------- -->

{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'appmain/css/style.css' %}">
    <script src="{% static 'appmain/js/script.js' %}" defer></script>
    <script src="{% static 'appmain/js/carousels.js' %}" defer></script>
    <title>Voyage au texas</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container w-100 h-100">
            <div class="title-box">
                <div class="buger_and_title_box">
                    <button class="burger-menu" onclick="toggleMenu()">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div class="title">
                        <a href="{% url 'index' %}">
                            <p>{% translate 'LeBonPlan' %}</p>
                            <p><span>{% translate 'TEXAS' %}</span></p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="nav-box nav-links">
                <div class="nav-register-box">
                    <a id="register" href="{% url 'multi_step_form' %}">{% translate 'INSCRIPTION' %}</a>
                </div>
                <div class="logo-image"></div>
                <div class="nav-who-box">
                    <a id="who" href="#">{% translate 'NOS SERVICES' %}</a>
                </div>
            </div>
            <div class="contact-box">
                <div class="flag-box">
                    <a href="#">
                        <img src="{% static 'images/icons/french_flag.webp' %}" alt="french flag" class="flag-img">
                    </a>
                    <a href="#">
                        <img src="{% static 'images/icons/us_flag.webp' %}" alt="us flag" class="flag-img-us">
                    </a>
                    <p><a href="{% url 'identity' %}">{% translate 'qui sommes nous' %}</a></p>
                </div>
            </div>
        </div>
    </nav>
    
    {% block content %}
    {% endblock %}

    {% include 'footer.html' %}
</body>
</html>