<!-- # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : appmain/templates/base_fixed.html
# Author : Morice
# --------------------------------------------------------------------------- -->

{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'appmain/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="{% static 'appmain/js/script.js' %}" defer></script>
    <title>Voyage au texas</title>
</head>
<body>
    <nav class="navbar-fixed">
        <div class="navbar-container w-100 h-100">
            <div class="title-box-fixed">
                <div class="buger_and_title_box">
                    <button class="burger-menu" onclick="toggleMenu()">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div class="title-fixed">
                        <a href="{% url 'index' %}">
                            <p>{% translate 'LeBonPlan' %}</p>
                            <p><span>{% translate 'TEXAS' %}</span></p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="nav-box-fixed nav-links">
                <div class="nav-register-box-fixed">
                    <a id="register-fixed" href="{% url 'multi_step_form' %}">{% translate 'INSCRIPTION' %}</a>
                </div>
                <div class="logo-image-fixed">
                </div>
                <div class="nav-who-box-fixed">
                    <a id="who-fixed" href="{% url 'services' %}">{% translate 'NOS SERVICES' %}</a>
                </div>
            </div>
            <div class="contact-box-fixed">
                <div class="contact-container-fixed">
                    <div class="contact-link-fixed">
                        <a href="{% url 'contact' %}"><i class="fas fa-phone-alt"></i> Contactez-nous
                    </div>
                    </a>
                    <div class="flag-box-fixed">
                        <a href="#">
                            <img src="{% static 'images/icons/french_flag.png' %}" alt="french flag" class="flag-img-fixed">
                        </a>
                        <a href="#">
                            <img src="{% static 'images/icons/us_flag.png' %}" alt="us flag" class="flag-img-us-fixed">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}

    {% include 'footer.html' %}
</body>
</html>