<!-- # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : appmain/templates/lebonplantexas/register_form.html
# Author : Morice
# --------------------------------------------------------------------------- -->

{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'appmain/css/style.css' %}">
    <script src="{% static 'appmain/js/script.js' %}" defer></script>
    <title>Voyage au texas</title>
</head>
<body>
    <nav class="navbar">
        <div class="flex-center w-100 h-100">
            <div class="flex-around nav-box">
                <div class="nav-register-box">
                    <a id="register" href="">DEMANDER UN DEVIS</a>
                </div>
                <div class="logo-image" href="#">
                </div>
                <div class="nav-who-box">
                    <a id="who" href="">QUI SOMMES NOUS</a>
                </div>
            </div>
        </div>
        <div class="flag-div">
            <div class="red-flag-div"></div>
            <div class="white-flag-div"></div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>