<!-- # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : appmain/templates/email/checkout_success_email.html
# Author : Morice
# --------------------------------------------------------------------------- -->


{% extends 'base_email.html' %}

{% load i18n %}
{% load static %}

{% block content %}
        <h3  style="color: white; text-align: center; font-size: 2rem;">{% translate 'Votre transaction a été acceptée !' %}</h3>
        <hr style="background-color: white; height: 1px; border: none;">
        <div class="container">
            {% get_current_language as LANGUAGE_CODE %}
            <h1 style="text-align: center;">{% translate 'GO BIG OR GO HOME!' %}{% if not trip_invoice.customer.country == 'US' %}*</h1>{% else %}</h1>{% endif %}
            {% if not trip_invoice.customer.country == 'US' %}<small style="float: right;"><i>*Voyez grand ou restez chez vous !</i></small>{% endif %}
            <br>
            <p>{% translate 'Howdy' %} {{ trip_invoice.customer.first_name|capfirst }}!!</p>
            <p>{% translate 'Merci d\'avoir choisi LeBonPlanTEXAS pour accompaner votre voyage.' %}</p>
            <p>{% translate 'Vos identidiants et mots de passe vous serons envoyez par email d\'ici peu.' %}</p>
            <br>
            <h3>{% translate 'FACTURE N°' %} {{ trip_invoice.invoice_number }}</h3>
            <p class="my-0">{% translate 'Date de paiement :' %} {{ trip_invoice.is_paid_date }}</p>
            <p class="my-0">{{ company_info.legal_structure }} {{ company_info.name }}</p>
            <p class="my-0">{% translate 'SIREN :' %} {{ company_info.SIREN }}</p>
            <p class="my-0">{{ company_info.address }}</p>
            <br>
            <p><u>{% translate '👤 Vos coordonnées :' %}</u></p>
            <p class="my-0">{{ trip_invoice.customer.first_name|capfirst }} {{ trip_invoice.customer.last_name|capfirst }}</p>
            <p class="my-0">{{ trip_invoice.customer.address }}</p>
            <p class="my-0">{{ trip_invoice.customer.email }}</p>
            <p class="my-0">{{ trip_invoice.customer.phone }}</p>
            <!-- invoice table -->
            <table>
                <thead>
                    <tr>
                        <th>{% translate 'Service' %}</th>
                        <th>{% translate 'Choix' %}</th>
                        <th>{% translate 'Nombre de jours' %}</th>
                        <th>{% translate 'Prix/jour hors taxe(€)' %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{% translate 'Autonome' %}</td>
                        <td>{{ trip_invoice.mobile_service|yesno:"V,X" }}</td>
                        <td>{{ trip_invoice.nbr_days_mobile|default:"-" }}</td>
                        <td>{{ trip_invoice.mobile_price_excl_tax|default:"-" }}</td>
                    </tr>
                    <tr>
                        <td>{% translate 'Chauffeur privé' %}</td>
                        <td>{{ trip_invoice.driver_service|yesno:"V,X" }}</td>
                        <td>{{ trip_invoice.nbr_days_driver|default:"-" }}</td>
                        <td>{{ trip_invoice.driver_price_excl_tax|default:"-" }}</td>
                    </tr>
                    <tr>
                        <td>{% translate 'Platinum' %}</td>
                        <td>{{ trip_invoice.platinum_service|yesno:"V,X" }}</td>
                        <td>{{ trip_invoice.nbr_days_platinum|default:"-" }}</td>
                        <td>{{ trip_invoice.platinum_price_excl_tax|default:"-" }}</td>
                    </tr>
                    <tr class="total-row">
                        <td colspan="3">{% translate 'Total TTC' %}</td>
                        <td>{{ trip_invoice.total }} ({% translate 'dont taxe :' %} {{trip_invoice.tax_amount}})</td>
                    </tr>
                </tbody>
            </table>
            <strong class="">{% translate 'Type de paiement :' %} {{ trip_invoice.payment_type }}</strong>
            <div class="frame">
                <a href="http://127.0.0.1:8000/print_invoice/{{ trip_invoice.id}}" target="_blank">Ici pour voir votre facture en pdf téléchargeable.</a>
            </div>
            <p class="text-center">{% translate 'Nous reviendrons au plus vite vers vous!' %}</p>
        </div>

{% endblock %}
