<!-- # ---------------------------------------------------------------------------
#                    L e B o n P l a n T e x a s   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : appmain/templates/email/success_registration_email.html
# Author : Morice
# --------------------------------------------------------------------------- -->


{% extends 'base_email.html' %}

{% load i18n %}
{% load static %}

{% block content %}
    <div class="container">
        <h1> {% translate 'Bonjour' %} {{ customer.first_name|capfirst }} !</h1>

        <p>
            {% translate 'Nous avons bien reçu votre demande de renseignements et devis pour votre prochain voyage au Texas. Merci de votre intérêt pour' %} 
            <span class="highlight">{{ company_name }}</span> !
        </p>
        <br>
        {% if texas_trip.package == '1' %}
        <p>
            {% translate "Vous avez choisi la formule Autonome. Un devis vous sera envoyé d'ici peu, après vérification de nos équipes." %}
        </p>
        {% elif texas_trip.package == '2' %}
        <p>
            {% trans 'Vous avez choisi la formule Chauffeur privé. La formule autonome vous est offerte. Un devis vous sera envoyé par email après vérification de la disponibilité du chauffeur' %}
        </p>
        {% elif texas_trip.package == '3' %}
        <p>
            {% trans "Vous avez choisi la formule Platinium. La formule autonome vous est offerte. Un conseiller vous contactera très bientôt pour s'entretenir avec vous sur les détails de votre voyage." %}
        </p>
        {% endif %}
        <p>
            {% translate 'Nous mettons tout en œuvre pour organiser un séjour qui correspond à vos attentes. Voici un récapitulatif des informations que vous nous avez fournies :' %}
        </p>

        <h3>👤  {% translate 'Vos coordonnées :' %}</h3>
        <ul>
            <li><strong> {% translate 'Prénom :' %}</strong> {{ customer.first_name }}</li>
            <li><strong> {% translate 'Nom :' %}</strong> {{ customer.last_name }}</li>
            {% if trip_invoice.customer.address %}
            <li><strong> {{ trip_invoice.customer.address }}</li>
            {% endif %}
            <li><strong> {% translate 'Email :' %}</strong> {{ customer.email }}</li>
            {% if customer.phone %}
            <li><strong> {% translate 'Téléphone :' %}</strong> {{ customer.phone }}</li>
            {% endif %}
        </ul>
        {% if texas_trip.package != '1' %}
        <h3>🌟  {% translate 'Votre voyage :' %}</h3>
        {% for trip in trips %}
        <ul>
            <li><strong> {% translate 'Dates :' %}</strong>  {% translate 'du' %} {{ trip.start_date }}  {% translate 'au' %} {{ trip.end_date }}</li>
            {% if trip.cities %}
            <li><strong> {% translate 'Villes prévues :' %}</strong> {{ trip.cities }}</li>
            {% endif %}
            <li><strong> {% translate 'Vous êtes véhiculés :' %}</strong> 
                {% if trip.vehiculed %} Oui {% else %} Non {% endif %}
            </li>
            {% if trip.comment %}
            <li><strong> {% translate 'Commentaires :' %}</strong> {{ trip.comment }}</li>
            {% endif %}
        </ul>
        <br>
        {% endfor %}
        {% endif %}

        <h3>🎯  {% translate "Vos centres d'intérêt :" %}</h3>
        <ul>
            {% for interest in interests %}
            <li>{{ interest }}</li>
            {% endfor %}
        </ul>

        <p>
            {% translate "Nous vous enverrons sous peu vos identifiants et/ou vous contacterons pour présenter nos services et répondre à toutes vos questions. Si vous avez des précisions à apporter ou si vous souhaitez nous faire part de nouvelles idées, n'hésitez pas à répondre à cet e-mail." %}
        </p>

        <div class="cta">
            <a href="mailto:{{ company_email }}"> {% translate 'Contactez-nous directement' %}</a>
        </div>

        <p>
            {% translate 'Merci encore pour votre confiance et à très bientôt' %}, <br>
            <strong> {% translate "L'équipe de" %} {{ company_name }}</strong>
        </p>
    </div>
{% endblock %}

